<div layout="row">
	<p class="md-body-1" ng-bind="vm.currentEmail"></p>
</div>

<div layout="row">
	<md-input-container flex-xs="100" flex-gt-xs="85" flex-gt-sm="50">
		<label>Password</label>
		<input name="password" type="password" ng-model="vm.password" required>
		<div ng-show="vm.form.password.$touched" ng-messages="vm.form.password.$error">
			<div ng-message="required">Required</div>
		</div>
	</md-input-container>
</div>

<div layout="row">
	<md-input-container flex-xs="100" flex-gt-xs="85" flex-gt-sm="50">
		<label>New Email</label>
		<input name="email" type="email" ng-model="vm.email" required>
		<div ng-show="vm.form.email.$touched" ng-messages="vm.form.email.$error">
			<div ng-message="required">Required</div>
			<div ng-message="email">Invalid email.</div>
		</div>
	</md-input-container>
</div>

<div layout="row">
	<md-input-container flex-xs="100" flex-gt-xs="85" flex-gt-sm="50">
		<label>Confirm New Email</label>
		<input name="confirm" type="email" ng-model="vm.confirm" jdt-email-validate required>
		<div ng-show="vm.form.confirm.$touched" ng-messages="vm.form.confirm.$error">
			<div ng-message="required">Required</div>
			<div ng-message="email">Invalid email.</div>
			<div ng-message="match">New Email and Confirm Email must match.</div>
		</div>
	</md-input-container>
</div>

<p class="md-body-2">After changing your email address, you will be asked to login with the new email.</p>

<md-button class="md-accent md-raised" type="button" ng-disabled="vm.form.$invalid" ng-click="vm.save()">Save</md-button>

<md-button class="md-raised" type="button" ng-click="vm.cancel()">Cancel</md-button>

<jdt-feedback feedback="vm.feedback"></jdt-feedback>
