<p class="md-body-1" ng-bind="vm.currentEmail"></p>

<md-input-container>
	<label>New Email</label>
	<input name="email" type="text" ng-model="vm.email" required>
	<div ng-show="vm.form.email.$touched" ng-messages="vm.form.email.$error">
		<div ng-message="required">Required</div>
	</div>
</md-input-container>

<md-input-container>
	<label>Confirm New Email</label>
	<input name="confirm" type="text" ng-model="vm.confirm" jdt-email-match required>
	<div ng-show="vm.form.confirm.$touched" ng-messages="vm.form.confirm.$error">
		<div ng-message="required">Required</div>
		<div ng-message="emailMatch">New Email and Confirm Email must match.</div>
	</div>
</md-input-container>

<md-input-container>
	<label>Password</label>
	<input name="password" type="password" ng-model="vm.password" required>
	<div ng-show="vm.form.password.$touched" ng-messages="vm.form.password.$error">
		<div ng-message="required">Required</div>
	</div>
</md-input-container>

<p class="md-body-2">After changing your email address, you will be asked to login with the new email.</p>

<md-button class="md-primary md-raised" type="button" ng-disabled="vm.form.$invalid" ng-click="vm.save()">Save</md-button>

<md-button class="md-raised" type="button" ng-click="vm.cancel()">Cancel</md-button>

<jdt-feedback feedback="vm.feedback"></jdt-feedback>
