<md-input-container>
	<label>Password</label>
	<input name="password" type="password" ng-model="vm.password" required>
	<div ng-show="vm.form.$submitted || vm.form.password.$touched" ng-messages="vm.form.password.$error">
		<div ng-message="required">Required</div>
	</div>
</md-input-container>
<md-input-container>
	<label>New Password</label>
	<input name="newPassword" type="password" ng-model="vm.newPassword" required>
	<div ng-show="vm.form.$submitted || vm.form.newPassword.$touched" ng-messages="vm.form.newPassword.$error">
		<div ng-message="required">Required</div>
	</div>
</md-input-container>

<md-input-container>
	<label>Confirm New Password</label>
	<input name="confirm" type="password" ng-model="vm.confirm" required>
	<div ng-show="vm.form.$submitted || vm.form.confirm.$touched" ng-messages="vm.form.confirm.$error">
		<div ng-message="required">Required</div>
	</div>
</md-input-container>

<md-button class="md-primary md-raised" type="button" ng-disabled="vm.form.$invalid" ng-click="vm.save()">Save</md-button>

<md-button class="md-raised" type="button" ng-click="vm.cancel()">Cancel</md-button>

<jdt-feedback feedback="vm.feedback"></jdt-feedback>
