<div layout="column" style="height:100%;">

	<md-toolbar layout="row">
		<div class="md-toolbar-tools">
			<md-button ng-click="vm.props.sidenav.toggle()" class="md-icon-button">
				<md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
			</md-button>
			<jdt-title props="vm.props"></jdt-title>
			<span flex></span>
			<span style="padding-right:16px;">
				<md-button ng-show="vm.props.toolbar.add.show" ng-click="vm.props.toolbar.add.action()" class="md-fab md-accent" aria-label="Add">
					<md-icon md-svg-icon="icons/ic_add_black_24px.svg"></md-icon>
				</md-button>
			</span>
		</div>
	</md-toolbar>

	<div layout="row" flex>
		<md-sidenav layout="column" flex class="md-sidenav-left md-whiteframe-z2" md-component-id="sidenav" md-is-locked-open="false">
			<jdt-menu props="vm.props"></jdt-menu>
		</md-sidenav>

		<md-content layout="column" flex>
			<jdt-view props="vm.props"></jdt-view>
		</md-content>
	</div>
</div>
