<div layout="row" layout-margin>
	<div flex>The RESTful service used on this page is hosted on a free <a href="https://www.heroku.com/home">Heroku</a> account. It might be asleep and take a few seconds to wake up on the first call. The service code can be viewed <a href="https://github.com/jdtibbs/template_restful">here</a>.</div>
</div>

<div ng-repeat="user in vm.model | filter: vm.props.components.toolbar.search.value | orderBy: 'name' track by $index">
	<md-list-item aria-label="user">
		<div layout="row" flex layout-align="center center">
			<div flex ng-bind="user.name"></div>
			<div flex hide show-gt-sm ng-bind="user.role"></div>
		</div>
	</md-list-item>
	<md-divider ng-if="!$last"></md-divider>
</div>

<jdt-feedback feedback="vm.feedback"></jdt-feedback>
