<md-toolbar class="md-primary">

	<!-- medium and larger displays -->
	<div layout="row" hide-sm class="md-toolbar-tools">

		<jdt-toolbar-menu props="vm.props"></jdt-toolbar-menu>

		<jdt-toolbar-title props="vm.props"></jdt-toolbar-title>

		<div flex></div>

		<jdt-toolbar-search props="vm.props"></jdt-toolbar-search>

		<jdt-toolbar-add props="vm.props"></jdt-toolbar-add>

	</div>

	<!-- small displays -->
	<div layout="column" hide-gt-sm class="md-toolbar-tools">

		<jdt-toolbar-menu props="vm.props"></jdt-toolbar-menu>

		<jdt-toolbar-title props="vm.props"></jdt-toolbar-title>

	</div>

	<div layout="column" hide-gt-sm class="md-toolbar-tools">

		<div flex></div>

		<jdt-toolbar-search props="vm.props"></jdt-toolbar-search>

		<jdt-toolbar-add props="vm.props"></jdt-toolbar-add>

	</div>
</md-toolbar>


<jdt-sidenav props="vm.props" </jdt-sidenav>
