<div layout="row">
	<md-input-container flex-xs="100" flex-gt-xs="85" flex-gt-sm="50">
		<label>Password</label>
		<input name="password" type="password" ng-model="vm.password" required>
		<div ng-show="vm.form.password.$touched" ng-messages="vm.form.password.$error">
			<div ng-message="required">Required</div>
		</div>
	</md-input-container>
</div>

<div layout="row">
	<md-input-container flex-xs="100" flex-gt-xs="85" flex-gt-sm="50">
		<label>New Password</label>
		<input name="newPassword" type="password" ng-model="vm.newPassword" required ng-minlength="12">
		<div ng-show="vm.form.newPassword.$touched" ng-messages="vm.form.newPassword.$error">
			<div ng-message="required">Required</div>
			<div ng-message="minlength">Password must be 12 characters or more.</div>
		</div>
	</md-input-container>
</div>

<div layout="row">
	<md-input-container flex-xs="100" flex-gt-xs="85" flex-gt-sm="50">
		<label>Confirm New Password</label>
		<input name="confirm" type="password" ng-model="vm.confirm" jdt-password-validate required>
		<div ng-show="vm.form.confirm.$touched" ng-messages="vm.form.confirm.$error">
			<div ng-message="required">Required</div>
			<div ng-message="match">New Password and Confirm New Password must match.</div>
		</div>
	</md-input-container>
</div>

<md-button class="md-accent md-raised" type="button" ng-disabled="vm.form.$invalid" ng-click="vm.save()">Save</md-button>

<md-button class="md-raised" type="button" ng-click="vm.cancel()">Cancel</md-button>

<jdt-feedback feedback="vm.feedback"></jdt-feedback>
