<form name="form" role="form" novalidate>
	<div layout="row">
		<md-input-container flex-xs="100" flex-gt-xs="85" flex-gt-sm="50">
			<label>Email</label>
			<input name="email" type="email" ng-model="vm.email" required>
			<div ng-show="form.email.$touched" ng-messages="form.email.$error">
				<div ng-message="required">Required.</div>
				<div ng-message="email">Invalid email.</div>
			</div>
		</md-input-container>
	</div>

	<div layout="row">
		<md-input-container flex-xs="100" flex-gt-xs="85" flex-gt-sm="50">
			<label>Password</label>
			<input name="password" type="password" ng-model="vm.password" required>
			<div ng-show="form.password.$touched" ng-messages="form.password.$error">
				<div ng-message="required">Required.</div>
			</div>
		</md-input-container>
	</div>

	<md-button class="md-accent md-raised" type="submit" ng-disabled="form.password.$error.required || form.email.$error.required" ng-click="vm.login()">Login</md-button>

	<md-button class="md-raised" type="button" ng-disabled="form.email.$error.required" ng-click="vm.forgot()">Forgot Password</md-button>
</form>

<jdt-feedback feedback="vm.feedback"></jdt-feedback>
