<div ng-repeat="catalog in vm.data | filter: vm.props.toolbar.props.search.value | orderBy: 'catalogName' track by catalog.$id">
	<md-list-item aria-label="catalog" ng-click="vm.edit(catalog.$id)">
		<div layout="row" layout-sm="column" flex>
			<div flex ng-bind="catalog.name"></div>
			<div flex ng-bind="catalog.description"></div>
			<div flex ng-bind="catalog.price"></div>
			<div flex ng-bind="catalog.units"></div>
			<div flex></div>
		</div>
		<md-button class="md-fab md-accent" ng-click="vm.remove(catalog.$id, $event)" aria-label="Remove">
			<md-icon class="material-icons">remove</md-icon>
		</md-button>
	</md-list-item>
	<md-divider ng-if="!$last"></md-divider>
</div>

<jdt-feedback feedback="vm.feedback"></jdt-feedback>
