<header class="mdl-layout__header">
	<div class="mdl-layout__header-row">
		<!-- Title -->
		<span class="mdl-layout-title">App Name</span>
		<!-- Add spacer, to align navigation to the right -->
		<div class="mdl-layout-spacer"></div>
		<!-- Navigation. We hide it in small screens. -->
		<div class="mdl-layout--large-screen-only">
			<jdt-menu props="vm.props"></jdt-menu>
		</div>
	</div>
</header>

<div class="mdl-layout__drawer">
	<span class="mdl-layout-title">Title</span>
	<jdt-menu props="vm.props"></jdt-menu>
</div>
